<div>
  <!-- Linkedin -->
  <a class="btn btn-outline-light" [href]="persona.enlace_linkedin" role="button">
    <i class="bi bi-linkedin"></i>
  </a>
  <!-- Github -->
  <a class="btn btn-outline-light" [href]="persona.enlace_github" role="button">
    <i class="bi bi-github"></i>
  </a>

  <!-- Instagram -->
  <a class="btn btn-outline-light" [href]="persona.enlace_instagram" role="button">
    <i class="bi bi-instagram"></i>
  </a>

  <!-- Whatsapp -->
  <a class="btn btn-outline-light" [href]="persona.enlace_whatsapp" role="button" >
    <i class="bi bi-whatsapp"></i>
  </a>
  <button type="button" class="btn btn-outline-light" (click)="login()">INGRESO</button>
</div>
