<div>
  <!-- Linkedin -->
  <a class="btn btn-outline-light" href="https://www.linkedin.com/in/livio-alejandro-ghiringhelli/" role="button">
    <i class="bi bi-linkedin"></i>
  </a>
  <!-- Github -->
  <a class="btn btn-outline-light" href="https://github.com/Ale10L" role="button">
    <i class="bi bi-github"></i>
  </a>

  <!-- Instagram -->
  <a class="btn btn-outline-light" href="https://www.instagram.com/reparacionesag/" role="button">
    <i class="bi bi-instagram"></i>
  </a>

  <!-- Whatsapp -->
  <a class="btn btn-outline-light" href="#!" role="button">
    <i class="bi bi-whatsapp"></i>
  </a>

  <!-- <a><img src="../../../assets/imagenes/linkedin.png" id="id-linkedin-img"></a>
  <a href="https://github.com/Ale10L"><img src="../../../assets/imagenes/github.png" id="id-github-img"></a>
  <a href="https://www.instagram.com/reparacionesag/"><img src="../../../assets/imagenes/instagram.png"
      id="id-github-img"></a> -->
  <button type="button" class="btn btn-outline-light">INGRESO</button>
</div>
