<div class="row">
  <h1>Formación Académica</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Tec. Universitaria en Programación - </h1>
        <h2>U.T.N. Facultad Regional Paraná </h2><h3>(2017 - actualidad)</h3>
      </li>
      <li>
        <h1>Lic. en Ciencia Política</h1>
        <h2>U.N.E.R. Facultad de Trabajo Social </h2><h3>(2012 - 2016)</h3>
      </li>
      <li>
        <h1>Abogacía</h1>
        <h2>U.C.A. Paraná </h2><h3>(2009 - 2011)</h3>
      </li>
    </ul>
  </div>
</div>
