<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="columna-foto">
    <img src="../../../assets/imagenes/foto-perfil.jpg" class="img-fluid" id="fotoperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="columna-nombre">
    <p id="nombre">Ghiringhelli Livio Alejandro</p>
    <p id="titulo">Full Stack Developer Jr</p>
  </div>
  <div class="col" id="aboutme">
    <p><b>¡Buenas! Mi nombre es Alejandro, soy de Paraná, provincia de Entre Ríos, Argentina.</b>
      Soy una persona proactiva, divertida que siempre busca generar un buen clima de trabajo.
      Siempre predispuesto a escuchar y aprender cosas nuevas. Estoy finalizando la Tecnicatura Universitaria en
      Programación de la UTN
      Facultad Regional Paraná.
      Interesado en la robótica, por lo que luego de finalizar la TUP, me dispondré a estudiar sobre robótica e
      inteligencia artificial.
      Espero les agrade mi Portfolio. Sean todos y todas bienvenidos/as.
    </p>
  </div>
</div>

