<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Ministerio de Desarrollo Social de la Provincia de Entre Ríos - </h1><h3>(2014 - actualidad)</h3>
        <p>
          Tareas administrativas en la Secretaría de Economía Social.
        </p>
      </li>
      <li>
        <h1>Reparador de PC - </h1><h3>(2014 - actualidad)</h3>
        <p>
          Tareas de mantenimiento a Notebooks y PC de escritorio.
        </p>
      </li>
      <li>
        <h1>Profesor de computación de adultos mayores - </h1><h3>(2017 - actualidad)</h3>
        <p>
          Dictado de clases a adultos mayores en el uso de una computadora. Introducción básica a la computación y su mantenimiento.
        </p>
      </li>
      <li>
        <h1>Profesor de computación en la escuela Heraclia Ruiz Díaz - </h1><h3>(2022 - actualidad)</h3>
        <p>
          Dictado de clases a niños y niñas de Nivel Inicial y de Nivel primario.
        </p>
      </li>
    </ul>
  </div>
</div>
