<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required="" />
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required="" />
        </div>
        <div class="form-group">
          <label for="enlace_proyecto">Enlace proyecto</label>
          <input type="text" class="form-control" id="enlace_proyecto" name="enlace_proyecto" [(ngModel)]="enlace_proyecto" required="" />
        </div>
        <button class="btn btn-primary">Agregar</button>
        <button class="btn btn-danger">Cancelar</button>
      </form>
    </div>
  </div>
</div>
