<div class="row">
  <h1>Proyectos</h1>
  <div class="contenedor">
    <table class="table">
      <thead>
        <tr>
          <th>Proyecto</th>
          <th>Descripción</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Portfolio</td>
          <td>Proyecto final para la segunda etapa de Argentina Programa #YoProgramo</td>
          <td><a href="https://github.com/Ale10L/ProyectoFinal_GhiringhelliLivioAlejandro.git">Enlace a GitHub</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
